* {
    margin: 0;
    padding: 0;
}

input,
select,
textarea {
    border-radius: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .02em;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a:hover,
.active a,
.email_cont a:hover,
.info_service h3 a:hover,
.footer_links a:hover,
.top_get a:hover,
.btm_get a:hover,
.privacy_cont a:hover,
.off-canvas nav li a:hover,
.off-canvas .email_cont a:hover,
.off-canvas nav li.active a,
.tabs_no a:hover {
    text-decoration: none;
    color: #96d100;
}

a:focus {
    color: #96d100;
}

a {
    cursor: pointer;
}

a {
    color: #515151;
}

.padding {
    padding: 0;
}

.padding-left {
    padding-left: 0;
}

.padding-right {
    padding-right: 0;
}

input:focus,
a:focus,
button:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

a,
button {
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.middle_part {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

input:focus,
a:focus,
button:focus {
    outline: 0;
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

input::-webkit-input-placeholder {
    color: #bcbcbc;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #bcbcbc;
    opacity: 1;
}

input::-moz-placeholder {
    color: #bcbcbc;
    opacity: 1;
}

.display_block {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.bg_fixed {
    background-attachment: fixed;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.animated {
    animation-duration: 1.5s;
}

.padding-top {
    padding-top: 140px;
}

.display_table {
    display: table;
}


/*===================css========================*/

.right_header {
    letter-spacing: 0.02em;
    width: 54.6%;
}

.banner {
    background-attachment: fixed;
    background-size: cover;
    display: inline-block;
    height: 455px;
    position: relative;
    width: 100%;
}

nav {
    font-family: "Raleway", sans-serif;
}

header {
    padding: 21px 0 0;
}

nav li {
    margin: 0 19px 0 0;
}

nav li:last-child {
    margin: 0 0 0 0;
}

nav li a {
    font-size: 14px;
    color: #4e5151;
    display: inline-block;
    vertical-align: top;
}

.email_cont a,
.email_cont span {
    color: #515151;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.email_cont {
    border-bottom: 1px solid #c9cbc5;
    margin: 0 0 31px;
    padding: 0 0 15px;
}

.mail i {
    margin: 0 5px 0 0;
}

.email_cont i {
    color: #96d100;
}

.bold {
    font-weight: 700;
}

.tel_info div {
    margin: 0 0 0 11px;
    display: inline-block;
}

.bold i {
    margin: 0 1px 0 0;
}

.banner {
    position: relative;
}

.inner_banner {
    background: rgba(0, 0, 0, 0.68) none repeat scroll 0 0;
    bottom: 42px;
    left: auto;
    padding: 49px 4.5% 29px;
    position: absolute;
    top: auto;
    width: 658px;
}

h2,
.heading h1 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

h3 {
    color: #000;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    vertical-align: top;
    width: 100%;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.custom {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.custom {
    background: rgb(50, 50, 50) none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    padding: 13px 32px;
    vertical-align: top;
}

.custom.active,
.custom:hover {
    background-color: #96d100;
    color: #fff;
}

.inner_banner h2 {
    letter-spacing: normal;
}

.banner_button a {
    margin: 0 30px 0 0;
}

.banner_button a:last-child {
    margin: 0;
}

.banner_button {
    margin-top: 30px;
}

.services_cont h2 {
    color: #000;
    font-weight: 600;
    margin: 0 0 34px;
    text-transform: uppercase;
}

.services_cont h2 span,
.storage_info h2 span {
    color: #96d100;
}

.info_service h3 a {
    color: #000;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.info_service strong {
    color: #515151;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 0 20px;
    vertical-align: top;
    width: 100%;
}

.info_service p {
    color: #515151;
    display: inline-block;
    line-height: 25px;
    padding: 0 0 20px;
    vertical-align: top;
    width: 100%;
}

.bg_green {
    background: #96d100 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: raleway;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 12px;
    text-align: center;
    vertical-align: top;
}

.bg_green:hover,
.bg_green:focus {
    color: #000;
}

.info_service {
    padding-top: 29px;
}

.info_service h3 {
    padding: 0 0 7px;
}

.services_cont {
    padding: 57px 0 42px;
}

.welcome_cont {
    position: relative;
}

.img_service {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.services_cont li:hover a img {
    transform: scale(1.1) rotate(2deg);
    -webkit-transform: scale(1.1) rotate(2deg);
    -moz-transform: scale(1.1) rotate(2deg);
    -o-transform: scale(1.1) rotate(2deg);
}

.services_cont li a img {
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.welcome_cont::before {
    background: rgb(232, 232, 232) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 42.82%;
    z-index: 0;
}

.welcome_cont::after {
    background: rgb(243, 242, 238) none repeat scroll 0 0;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 57.2%;
    z-index: 0;
}

.welcome_cont .container {
    position: relative;
    z-index: 1;
}

.welcome_cont h4 {
    color: #000;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.04em;
    padding: 0 0 20px;
}

.welcome_info strong {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 24px;
    margin: 0 0 32px;
    vertical-align: top;
    width: 100%;
    text-align: justify;
}

.welcome_cont p {
    letter-spacing: 0.04em;
    line-height: 28px;
    padding-bottom: 28px;
    color: #4d4d4d;
    text-align: justify;
}

.help_cont {
    padding-left: 4%;
}

.welcome_cont {
    padding: 55px 0 80px;
    position: relative;
}

.tabs .nav.nav-tabs > li {
    margin: 0 10px 0 0;
    text-align: center;
    width: 188px;
}

.tabs .nav.nav-tabs > li:last-child {
    margin: 0;
}

.tabs .nav-tabs > li > a,
.tabs-main .nav-tabs > li > a {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    color: #000;
    display: inline-block;
    font-family: raleway;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0 0;
    vertical-align: top;
    width: 100%;
    min-height: 40px;
}

.tabs .nav.nav-tabs,
.tabs-main .nav.nav-tabs {
    border: 0 none;
}

.tabs .nav-tabs > li > a:hover,
.tabs .nav-tabs > li.active > a {
    background: rgb(151, 209, 1) none repeat scroll 0 0;
    color: #fff;
}

.content_help {
    float: right;
    width: 58.8%;
    text-align: justify;
    padding: 10px 0 0;
}

.tabs {
    margin-top: 34px;
}

.help_img {
    float: left;
    width: 33%;
}

.welcome_cont p:last-child {
    padding: 0;
}

.tab-content {
    padding-top: 54px;
}

.history_info p {
    color: #4d4d4d;
    letter-spacing: 0.12em;
    line-height: 25px;
    margin: 0 0 20px;
    text-align: justify;
}

.history_cont {
    margin: 76px 0 104px;
}

.history_info h2 {
    color: #000;
    font-size: 90px;
    font-weight: 600;
    text-align: left;
    margin: 0 0 30px;
    letter-spacing: 0.08px;
}

.history_info h2 span {
    color: #96d100;
}

.history_image img {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.history_image::before {
    background: rgb(242, 242, 242) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 8%;
    position: absolute;
    top: 37px;
    width: 85%;
    z-index: 0;
}

.history_image {
    margin-left: 15px;
}

.history_info p:last-child {
    margin: 0;
}

footer {
    position: relative;
    letter-spacing: normal;
}

.top_footer {
    background-color: #0e1f29;
    background-image: url(../images/footer_banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 104px 0 42px;
    /*border-bottom: 7px solid #0e1f29;*/
}

.footer_links li {
    width: 100%;
}

footer h5 {
    color: #96d100;
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 28px;
    text-transform: uppercase;
}

.footer_links {
    font-family: raleway;
}

.footer_links li {
    margin: 0 0 10px;
    width: 100%;
}

.footer_links a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    vertical-align: top;
    width: 100%;
}

.social_links a {
    background: #96d100 none repeat scroll 0 0;
    border-radius: 50%;
    color: #0e1f29;
    display: inline-block;
    font-size: 25px;
    height: 40px;
    margin: 0 7px 0 0;
    padding: 3px 0 0;
    text-align: center;
    width: 40px;
}

.social_links a:hover {
    color: #fff;
}

.social_links li:last-child a {
    margin: 0;
}

.social_links {
    margin: 13px 0 0;
}

.news-letter {
    display: inline-block;
    vertical-align: top;
    width: 56%;
}

.news-letter small {
    color: #fff;
    display: inline-block;
    font-family: raleway;
    font-size: 16px;
    font-weight: 300;
    vertical-align: top;
    width: 100%;
}

.newsletter_form input {
    border: 0 none;
    box-shadow: none;
    float: left;
}

.newsletter_form input::-webkit-input-placeholder {
    color: #959694;
    opacity: 1;
}

.newsletter_form input:-ms-input-placeholder {
    color: #959694;
    opacity: 1;
}

.newsletter_form input::-moz-placeholder {
    color: #959694;
    opacity: 1;
}

.email_text {
    background: rgb(232, 226, 226) none repeat scroll 0 0;
    height: 51px;
    padding: 0 15px;
    width: 271px;
}

.newsletter_form .submit {
    background: rgb(136, 185, 15) none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    height: 51px;
    padding: 0 15px;
}

.newsletter_form .submit:hover {
    color: #000;
}

.newsletter_form {
    margin: 26px 0 0;
}

.get_in {
    display: inline-block;
    padding: 0 0 0 12%;
    vertical-align: top;
    width: 42%;
}

.top_get a,
.btm_get p,
.btm_get a {
    color: #fff;
    font-family: raleway;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .02em;
}

.btm_get {
    color: #fff;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.top_get {
    display: inline-block;
    margin: 0 0 18px;
    vertical-align: top;
    width: 100%;
}

.btm_get p,
.btm_get a {
    letter-spacing: normal;
}

.btm_get h5 {
    margin: 0 0 15px;
}

.privacy_cont {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 12px;
    min-height: 55px;
    padding: 18px 0 0;
}

.privacy_cont p {
    color: #fff;
    font-size: 12px;
    text-align: right;
}

.privacy_cont li:last-child a:after {
    position: static;
    border: 0;
}

.privacy_cont li {
    float: left;
}

.privacy_cont a {
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.privacy_cont li:first-child a {
    padding-left: 0;
}

.ftr_nav {
    display: inline-block;
    position: relative;
    vertical-align: top;
    z-index: 1;
}

.privacy_cont .container {
    position: relative;
}

.privacy_cont .pull-right {
    position: relative;
    z-index: 1;
}

.Find_us h5 a {
    color: #96d100;
    display: inline-block;
    font-size: 14px;
    margin: 19px 0 0;
    text-decoration: underline;
    vertical-align: top;
}

.Find_us h5 {
    color: #96d100;
    margin: 0;
}

.Find_us h5 a:hover {
    color: #fff;
}

.privacy_cont a::after {
    border-right: 1px solid #fff;
    content: "";
    height: 12px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 1px;
}


/*=========header fixed=======*/

header {
    background: #fff none repeat scroll 0 0;
    left: 0;
    margin: auto;
    padding: 21px 0 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.off-canvas {
    background: RGBA(0, 0, 0, 0.74);
    padding: 21px 0;
}

.off-canvas nav li a,
.off-canvas .email_cont a,
.off-canvas .email_cont span {
    color: #fff;
}

.paddig-top {
    margin: 103px 0 0;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.off-canvas .logo {
    display: none;
}

.off-canvas .right_header {
    width: 100%;
}

.off-canvas .email_cont {
    border: 0 none;
    float: right;
    margin: 0;
    padding: 0;
    width: 33%;
}

.off-canvas nav {
    width: 67%;
}

.off-canvas nav li {
    margin: 0 2.6% 0 0;
}

.off-canvas .mail {
    display: none;
}


/*=============================storage===================*/

.storage_info {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 58px 0 74px;
}

.storage_info h2,
.heading h1 {
    color: #000;
    font-weight: 600;
}

.heading {
    margin: 0 0 18px;
}

.storage_info p {
    color: #4d4d4d;
    letter-spacing: 0.04em;
    line-height: 24px;
    margin: 26px 0 0;
    font-weight: normal;
}

.tabs-main .nav-tabs > li > a {
    background: rgb(28, 28, 28) none repeat scroll 0 0;
    color: #fff;
    font-weight: normal;
    min-height: 54px;
    padding: 14px 0;
    text-align: center;
}

.tabs-main .nav-tabs > li > a:hover,
.tabs-main .nav-tabs > li.active > a {
    background: rgb(151, 209, 1);
    color: #000;
}

.tabs-main .nav-tabs > li {
    float: left;
    margin-bottom: 15px;
}

.storage_info p {
    color: #4d4d4d;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 24px;
    margin: 0 0 3px;
}

.storage_info p:last-child {
    margin: 0;
}

.storage_content {
    margin: 26px 0 0;
}

.tabs-main .tab-pane {
    border: 1px solid #c8cbcb;
    border-radius: 2px;
    padding: 0 1.9% 0 4.3%;
}

.tabs_storage {
    padding: 84px 0 66px;
}

.ineer_content p {
    color: #4d4d4d;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 25px;
    margin: 0 0 27px;
}

.ineer_content p:last-child {
    margin: 0;
}

.ineer_content {
    margin: 27px 0 33px;
}

.contact_tabs strong {
    font-size: 16px;
}

.tabs_no {
    background-image: url("../images/phone_icon.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding: 0 0 0 38px;
    margin: 15px 0;
}

.contact_us {
    background: rgb(28, 28, 28) none repeat scroll 0 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 47px;
    padding: 12px 0 0;
    text-align: center;
    width: 299px;
}

.tabs_no a {
    color: #4d4d4d;
    font-family: raleway;
    font-size: 16px;
    font-weight: 700;
}

.contact_tabs {
    margin: 50px 0 0;
}

.slider_cont .carousel-control {
    display: none;
}

.slider_cont figure span {
    border: 2px solid #96D100;
    border-radius: 50%;
    width: 99px;
    height: 99px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.slider_cont figure img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

figcaption {
    color: #484848;
    display: inline-block;
    font-family: raleway;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin: 9px 0 0;
    vertical-align: top;
    width: 100%;
}

.content_slider p {
    color: rgb(27, 28, 28);
    font-family: raleway;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 30px;
    width: 722px;
}

.slider_cont .carousel-indicators {
    bottom: 40px;
}

.content_slider {
    margin-top: 14px;
}

.slider_cont {
    background: rgb(242, 242, 242) none repeat scroll 0 0;
    padding: 47px 0 76px;
    position: relative;
    z-index: 99;
}

.slider_cont .carousel {
    position: static;
}

.slider_cont .carousel-indicators .active {
    background-color: #a6d826;
    height: 9px;
    width: 9px;
}

.slider_cont .carousel-indicators li {
    background-color: #272727;
    border: 0 none;
    height: 9px;
    margin: 0 0 0 8px;
    width: 9px;
    border-radius: 50%;
}

.tabs-main .tab-content {
    padding-top: 24px;
}

.contact_us:hover {
    color: #fff;
}


/*=============contact==========*/

.map {
    float: left;
    position: relative;
    width: 50.8%;
    z-index: 1;
}

.map .acf-map {
    width: 100%;
    height: 451px;
}

.contact_info {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100%;
}

.contact_info li {
    width: 100%;
}

.custom-form {
    padding: 0 0 0 4.3%;
}

.custom-form input,
.custom-form textarea {
    border-bottom: 1px solid #c2c0c0;
    width: 42.6%;
    height: 36px;
    border-radius: 0;
    box-shadow: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 0 0 65px;
    position: relative;
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: auto;
    padding: 0 19px 12px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    resize: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.custom-form input.name_input {
    background-image: url(../images/name_input.png);
}

.custom-form input.mail_input,
.custom-form textarea {
    background-image: url(../images/mail.png);
}

.custom-form input.phone_input {
    background-image: url("../images/call.png");
    background-size: 15px auto;
}

.custom-form input.address_input {
    background-image: url(../images/home.png);
}

.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
    color: #484848;
    opacity: 1;
}

.custom-form input:-ms-input-placeholder,
.custom-form textarea:-ms-input-placeholder {
    color: #484848;
    opacity: 1;
}

.custom-form input::-moz-placeholder,
.custom-form textarea::-moz-placeholder {
    color: #484848;
    opacity: 1;
}

.custom-form textarea {
    height: 36px;
    line-height: 25px;
    padding-bottom: 0;
    background-position: left 7px;
}

.custom-form textarea:focus,
.custom-form input:focus {
    outline: inherit;
    border-color: #736f6f;
}

.contact_info li:last-child input,
.contact_info li:last-child textarea {
    margin: 0;
}

.address_cont {
    margin: 55px 0 0;
}

.custom-form input.submit {
    background: #96d100 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 93px;
    padding: 0;
}

.btn_sbmit {
    margin: 0px 0 0;
    width: 42.6%;
}

.custom-form input.submit:hover {
    color: #000;
}

.address_cont h3 {
    font-size: 27px;
    margin: 0 0 30px;
}

.address_cont address {
    color: #000000;
    display: inline-block;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 26px;
    vertical-align: top;
    width: 100%;
    padding: 0;
}

.contact_cont {
    padding: 0 0 70px;
}

.storage_info.contact_us_cont {
    background: #fff none repeat scroll 0 0;
}

::i-block-chrome,
body {
    -webkit-text-stroke: .1px
}

.imk_cont span {
    display: inline-block;
    vertical-align: top;
}

.imk_cont a {
    display: inline-block;
    padding: 0px 0 0;
    position: relative;
    top: 0px;
    vertical-align: middle;
    color: #96d100;
}

.imk_cont a:hover {
    color: #fff;
}

.imk_cont {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0px;
    z-index: 0;
}

.imk_cont a:after {
    position: static;
    border: 0;
}

.resp_menu {
    display: none;
}

.map .acf-map {
    border: 0;
    height: 451px;
}


/*========================404=====================*/

.back_img {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#primary.content-area {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    z-index: 11;
}

.site-main {
    padding: 13.333% 0;
}

span.error_numeric {
    color: #fff;
    display: inline-block;
    font-size: 91px;
    text-align: center;
    width: 100%;
}

.error-404 h1 {
    color: #fff;
    font-family: raleway;
    font-size: 34px;
    font-weight: 600;
    margin: -7px 0 0;
    text-align: center;
    text-transform: uppercase;
}

.error-404 .page-title span {
    color: #96d100;
}

.back_img:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.46);
    content: "";
    width: 100%;
    height: 100%;
}

.error-404 p {
    color: #fff;
    display: inline-block;
    font-size: 21px;
    margin: 14px 0 0;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

html {
    display: inline-block;
    min-height: 100%;
    padding: 0 0 394px;
    position: relative;
    vertical-align: top;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 11;
}


/*=================end================*/

.about-page ol {
    margin: 18px 0 4px;
}

.about-page p,
.inner_conten p {
    margin: 4px 0;
    line-height: 25px;
    color: #000;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.about-page p {
    color: #4d4d4d;
}

.about-page {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 58px 0 74px;
}

.inner_conten {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 35px 0 0;
}

.inner_conten h1 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0 0 18px;
}

.heading h1 {
    color: #000;
    text-align: center;
}

.inner_mn {
    margin: 0 0 37px;
}

.mc4wp-response p {
    color: #96d100;
    font-size: 13px;
    font-weight: 600;
}

.mc4wp-response .mc4wp-error p {
    color: red;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.mc4wp-alert {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    margin: 5px 0;
    padding: 2px 6px;
    width: 97%;
}

.mc4wp-error {
    color: red;
    display: inline-block;
    font-size: 13px;
}

.custom-form input.wpcf7-not-valid {
    border-color: red;
}

.custom-form span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    display: none !important;
}

.custom-form div.wpcf7-response-output {
    margin: 2em 0em 1em;
}

.heading h1 {
    text-transform: uppercase;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    nav li {
        margin-right: 19px;
    }
}

@media (min-width:1500px) {
    .container {
        width: 1470px;
    }
    .paddig-top {
        margin: 141px 0 0;
    }
    .banner {
        height: 635px
    }
}

@media (max-width:1499px) {
    .mc4wp-alert {
        width: 99.1%;
    }
    .email_cont a,
    .email_cont span {
        font-size: 14px;
    }
    .right_header {
        width: 58.3333%;
    }
    nav li {
        margin: 0 13px 0 0;
    }
    nav li a {
        font-size: 12px;
    }
    .email_cont {
        margin: 0 0 23px;
    }
    .history_image::before {
        left: 9%;
        top: 30px;
        width: 95%;
    }
    .history_image {
        width: 38%;
    }
    h2,
    .heading h1 {
        font-size: 38px;
    }
    .inner_banner {
        padding: 49px 3.5% 29px;
        width: 531px;
    }
    .custom {
        font-size: 15px;
        padding: 13px 15px;
    }
    .info_service p {
        min-height: 95px;
    }
    .welcome_cont h4 {
        font-size: 22px;
    }
    .welcome_info strong {
        font-size: 14px;
        line-height: 22px;
    }
    .welcome_cont p {
        line-height: 24px;
    }
    .tabs .nav.nav-tabs > li {
        width: 23.7%;
    }
    .tabs .nav-tabs > li > a {
        font-size: 12px;
        padding: 11px 0 0;
    }
    .history_info h2 {
        font-size: 52px;
    }
    .footer_links a,
    .top_get a,
    .btm_get p,
    .btm_get a {
        font-size: 14px;
    }
    .news-letter small {
        font-size: 14px;
    }
    .newsletter_form .submit {
        font-size: 15px;
    }
    .email_text {
        width: 210px;
    }
    .btm_get p,
    .btm_get a {
        display: inline-block;
    }
    header {
        padding: 13px 0 14px;
    }
    .paddig-top {
        margin: 110px 0 0;
    }
    .get_in {
        padding: 0 0 0 9%;
        width: 43%;
    }
}

@media (max-width:1199px) {
    .banner {
        background-attachment: scroll;
    }
    .wow {
        animation: none !important;
        -ms-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -webkit-animation: none !important;
        visibility: visible !important;
    }
    .right_header {
        width: 63.3333%;
    }
    nav li {
        margin: 0 1.5% 0 0;
    }
    nav li a {
        font-size: 11px;
    }
    .off-canvas nav li {
        margin: 0 2% 0 0;
    }
    .off-canvas .email_cont {
        width: 37%;
    }
    .email_cont a,
    .email_cont span {
        font-size: 13px;
    }
    .off-canvas nav {
        width: 63%;
        padding: 3px 0 0 0;
    }
    .off-canvas nav li {
        margin: 0 1% 0 0;
    }
    .off-canvas {
        padding: 14px 0;
    }
    .paddig-top {
        margin: 105px 0 0;
    }
    h2 {
        font-size: 34px;
    }
    .inner_banner {
        width: 478px;
        padding: 36px 3.5% 26px;
    }
    h3 {
        font-size: 18px;
    }
    .info_service strong {
        font-size: 14px;
        min-height: 95px;
    }
    .info_service p {
        min-height: 120px;
    }
    .tabs .nav.nav-tabs > li {
        width: 31%;
        margin-bottom: 10px;
    }
    .welcome_cont h4 {
        font-size: 18px;
    }
    .tabs {
        margin-top: 14px;
    }
    .welcome_info strong {
        font-size: 13px;
        line-height: 21px;
    }
    .welcome_cont p {
        line-height: 22px;
    }
    p {
        font-size: 13px;
    }
    .history_info p {
        line-height: 23px;
    }
    .history_cont {
        margin: 76px 0 76px;
    }
    .email_text {
        height: 41px;
        width: 61%;
    }
    .newsletter_form .submit {
        height: 41px;
    }
    .footer_links a,
    .top_get a,
    .btm_get p,
    .btm_get a,
    .news-letter small {
        font-size: 13px;
    }
    .social_links a {
        font-size: 18px;
        height: 32px;
        padding: 4px 0 0;
        width: 32px;
    }
    .newsletter_form .submit {
        padding: 0 4%;
    }
    .news-letter {
        width: 52%;
    }
    .storage_info {
        padding: 36px 0 36px;
    }
    .storage_content {
        margin: 12px 0 0;
    }
    .tabs_storage {
        padding: 45px 0 51px;
    }
    ineer_content p {
        margin: 0 0 18px;
    }
    .contact_tabs {
        margin: 30px 0 0;
    }
    .tabs .nav-tabs > li > a,
    .tabs-main .nav-tabs > li > a {
        font-size: 13px;
    }
    .tabs-main .nav-tabs > li > a {
        padding: 17px 0;
    }
    html {
        padding: 0 0 430px;
    }
    .mc4wp-alert {
        width: 98%;
    }
    .tabs-main .tab-content {
        padding-top: 6px;
    }
}

@media (max-width:991px) {
    .resp_menu {
        display: block;
    }
    .right_header {
        display: none;
    }
    .tabs .nav.nav-tabs > li {
        width: 47%;
    }
    .welcome_info {
        width: 40%;
    }
    .welcome_cont h4 {
        font-size: 16px;
    }
    .info_service p {
        min-height: 145px;
    }
    h2,
    .heading h1 {
        font-size: 25px;
    }
    .inner_banner {
        width: 433px;
        padding: 30px 3.5% 24px;
    }
    .banner_button a {
        margin: 0px 21px 0 0;
    }
    .custom {
        font-size: 14px;
        padding: 13px 9px;
    }
    .inner_banner {
        background: rgba(0, 0, 0, 0.68) none repeat scroll 0 0;
        bottom: 19px;
    }
    .links,
    .news_letter {
        width: 100%;
    }
    .news_letter {
        margin-top: 41px;
    }
    .history_info h2 {
        font-size: 33px;
        margin: 0px 0 18px;
    }
    .history_info p {
        line-height: 18px;
        margin: 0 0 12px;
    }
    /*===contact=========*/
    .btn_sbmit.pull-right {
        float: left !important;
        margin: 19px 0 0;
    }
    .address_cont {
        margin: 22px 0 0;
    }
    .address_cont h3 {
        font-size: 24px;
        margin: 0 0 10px;
    }
    .address_cont address {
        margin-bottom: 13px;
        font-size: 13px;
    }
    .custom-form input,
    .custom-form textarea {
        width: 100%;
        margin: 0 0 29px;
    }
    .map .acf-map {
        width: 100%;
        height: 514px;
    }
    .contact_cont {
        padding: 0 0 40px;
    }
    .storage_info {
        padding: 32px 0 32px;
    }
    .custom-form {
        padding: 0 30px 0 4.3%;
    }
    .tabs_storage {
        padding: 51px 0 51px;
    }
    /****menu****/
    .resp_menu #click-menu {
        color: #000;
        background: transparent;
        position: static;
        float: right;
    }
    .resp_menu #click-menu .threeLines .line {
        background: #000 !important;
    }
    .resp_menu #responsive-menu {
        position: fixed;
        height: 100% !important;
        overflow: auto;
    }
    .paddig-top {
        margin: 77px 0 0;
    }
    .off-canvas .logo {
        display: block;
    }
    .resp_menu #click-menu #RMX {
        font-size: 48px;
        color: #000 !important;
    }
    .off-canvas {
        background: #fff;
        padding: 7px 0;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    }
    header {
        transition: all .3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
    }
    .resp_menu div#responsive-menu-title {
        display: none;
    }
    .resp_menu #responsive-menu {
        background: rgba(0, 0, 0, 0.77);
    }
    .resp_menu .email_cont a,
    .resp_menu .email_cont span {
        color: #fff;
    }
    .resp_menu #responsive-menu {
        width: 35%;
    }
    .off-canvas .mail {
        display: block;
    }
    .resp_menu #responsive-menu div.email_cont {
        padding: 9px 5% 0 !important;
        /* padding-left: 5% !important; */
        display: inline-block;
        float: none;
        border: 0 !important;
        width: auto !important;
    }
    .resp_menu .mail,
    .resp_menu .tel_info span {
        padding: 0 0px 9px;
    }
    #responsive-menu .responsive-menu li.current-menu-item > a,
    #responsive-menu .responsive-menu li.current-menu-item > .appendLink,
    #responsive-menu .responsive-menu li.current_page_item > a,
    #responsive-menu .responsive-menu li.current_page_item > .appendLink {
        background: transparent !important;
        color: rgba(150, 209, 0, 1) !important;
    }
    .resp_menu #responsive-menu .responsive-menu li:hover > a {
        color: rgba(150, 209, 0, 1) !important;
        border-color: rgba(150, 209, 0, 1) !important;
        background: transparent !important;
    }
    .resp_menu .email_cont a:hover,
    .resp_menu .email_cont span:hover {
        color: rgba(150, 209, 0, 1);
    }
    .resp_menu #responsive-menu .responsive-menu li:first-child a {
        border-top: 0 !important;
    }
    .resp_menu #responsive-menu .responsive-menu li a {
        border-bottom: 1px solid #fff !important;
        border-top: 0 !important;
    }
    #responsive-menu .responsive-menu li.current-menu-item a {
        border-color: rgba(150, 209, 0, 1) !important;
    }
    .resp_menu #responsive-menu .responsive-menu li:last-child a {
        border-bottom: 0 !important;
    }
    /*==end==*/
    .banner {
        height: 369px;
    }
    .inner_banner {
        width: 417px;
    }
    .tabs-main .nav-tabs > li {
        width: 33.33%;
    }
    .tabs-main .nav-tabs > li:nth-child(4) {
        clear: both;
    }
    html {
        padding: 0 0 562px;
    }
    .privacy_cont a {
        padding: 0 5px;
        font-size: 11px;
    }
    .privacy_cont p {
        font-size: 11px;
    }
    .privacy_cont a::after {
        top: 2px;
        height: 11px;
    }
    .privacy_cont .imk_cont a {
        padding: 0;
    }
    .top_footer {
        padding: 49px 0 42px;
    }
    .site-main {
        padding: 19.333% 0;
    }
    .mc4wp-response p {
        width: 89%;
    }
    .mc4wp-alert {
        width: 87.4%;
    }
}

@media (max-width:767px) {
    h3 {
        font-size: 16px;
    }
    .info_service strong {
        font-size: 13px;
        line-height: 20px;
    }
    .info_service strong,
    .info_service p {
        min-height: inherit;
    }
    .info_service p {
        line-height: 22px;
    }
    .welcome_info,
    .help_cont {
        width: 100%;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .welcome_cont::before,
    .welcome_cont::after {
        position: static;
    }
    .welcome_info:before {
        background: rgb(232, 232, 232) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .help_cont:after {
        background: rgb(243, 242, 238) none repeat scroll 0 0;
        content: "";
        height: 100%;
        right: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .tabs .nav.nav-tabs > li {
        width: 23.7%;
    }
    .tab-content {
        padding-top: 26px;
    }
    .welcome_cont {
        padding: 5px 0 0px;
    }
    .history_cont {
        margin: 46px 0 46px;
    }
    .history_info {
        padding-left: 30px;
    }
    .top_footer {
        padding: 42px 0 42px;
    }
    .ftr_nav {
        width: 100%;
        text-align: center;
        margin: 0 0 10px;
    }
    .privacy_cont li {
        float: none;
    }
    .imk_cont {
        position: static;
        text-align: left;
        float: left;
    }
    .privacy_cont {
        padding: 18px 0;
    }
    .welcome_info strong {
        margin: 0 0 17px;
    }
    .banner {
        position: relative;
        overflow: hidden;
    }
    .banner img {
        width: 200%;
        max-width: inherit;
    }
    .logo {
        width: 35%;
        float: left;
    }
    .resp_menu {
        display: inline-block;
        float: right;
        padding: 0 11px 0 0;
    }
    .banner {
        height: 274px;
    }
    .ineer_content p {
        font-size: 15px;
        line-height: 23px;
        margin: 0 0 22px;
    }
    .content_slider p {
        font-size: 18px;
        line-height: 30px;
        width: 98%;
    }
    .slider_cont {
        padding: 30px 0 50px;
    }
    .slider_cont .carousel-indicators {
        bottom: 22px;
    }
    /*======404===*/
    span.error_numeric {
        font-size: 56px;
    }
    .error-404 h1 {
        font-size: 22px;
    }
    .error-404 p {
        font-size: 19px;
    }
    body footer {
        position: relative;
    }
    html {
        padding: 0 0 00px;
    }
    #primary.content-area {
        margin: 54px 0 0;
    }
    .privacy_cont a {
        padding: 0 10px;
        font-size: 12px;
    }
    .privacy_cont p {
        font-size: 11px;
    }
    .privacy_cont a::after {
        top: 3px;
        height: 12px;
    }
    .privacy_cont .imk_cont a {
        padding: 0;
    }
    .mc4wp-response .mc4wp-error p {
        width: 100%;
    }
    .custom-form input.mail_input {
        background-position: left 7px;
    }
    .email_text {
        height: 41px;
        width: 71.6%;
    }
    .newsletter_form .submit {
        padding: 0;
        width: 28.4%;
    }
    .mc4wp-alert {
        width: 100%;
    }
}

@media (max-width:639px) {
    .custom-form div.wpcf7-response-output {
        margin: 1em 0em 1em;
    }
    .services_cont li {
        width: 100%;
        margin: 0 0 25px;
    }
    .services_cont li:last-child {
        margin: 0;
    }
    .services_cont {
        padding: 42px 0 42px;
    }
    .services_cont h2 {
        margin: 0 0 19px;
    }
    .info_service {
        padding-top: 16px;
    }
    .tabs .nav.nav-tabs > li {
        width: 31%;
    }
    .tabs {
        margin-top: 0;
    }
    .history_image {
        width: 87%;
        padding: 0 15px;
        margin: 0;
    }
    .history_info {
        padding: 0 30px;
        width: 100%;
        margin: 0 0 30px;
    }
    .history_cont {
        margin: 46px 0 74px;
    }
    /*====================map===================*/
    .map {
        width: 100%;
        margin-top: 21px;
    }
    .contact_info {
        position: static;
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    .custom-form {
        padding: 0 30px 0 4.3%;
        width: 100%;
        margin: 35px 0 0;
    }
    .map .acf-map {
        width: 100%;
        height: 300px;
    }
    .logo {
        width: 51%;
    }
    .resp_menu #responsive-menu {
        width: 44%;
    }
    .welcome_info,
    .help_cont {
        padding-left: 15px;
        padding-right: 15px;
    }
    .history_info {
        padding: 0 15px;
    }
    .inner_banner h2 {
        font-size: 18px;
    }
    .inner_banner {
        width: 361px;
    }
    .banner_button a {
        margin: 0px 16px 0 0;
        font-size: 12px;
        padding: 13px 9px;
    }
    .banner_button {
        margin-top: 17px;
    }
    .tabs-main .nav-tabs > li {
        width: 50%;
    }
    .tabs-main .nav-tabs > li:nth-child(3) {
        clear: both;
    }
    .tabs-main .nav-tabs > li:nth-child(4) {
        clear: none;
    }
    .ineer_content p {
        font-size: 13px;
        line-height: 21px;
    }
    .content_slider p {
        font-size: 16px;
    }
    /*==============404=========*/
    .post-lft {
        width: 100%;
        margin: 0 0 16px;
    }
    .post-rt {
        width: 100%;
    }
    .email_text {
        width: 66.6%;
    }
    .newsletter_form .submit {
        padding: 0;
        width: 33.4%;
    }
}

@media (max-width:479px) {
    .tabs .nav.nav-tabs > li {
        width: 100%;
        margin-right: 0;
    }
    .links_row {
        width: 49%;
        margin: 0;
    }
    footer h5 {
        margin: 0 0 16px;
    }
    .news-letter {
        width: 100%;
        margin-top: 0;
    }
    .get_in {
        padding: 0;
        width: 100%;
        margin: 34px 0 0;
    }
    .resp_non h5 {
        display: none;
    }
    .resp_menu #responsive-menu {
        width: 64%;
    }
    .logo {
        width: 77%;
    }
    .privacy_cont a {
        padding: 0 5px 0 0;
    }
    .imk_cont {
        position: static;
        text-align: left;
        float: none;
        width: 100%;
        text-align: center;
        margin: 0 0 6px;
    }
    .privacy_cont p {
        text-align: center;
    }
    .ftr {
        float: none !important;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        text-align: center;
    }
    footer h5 {
        color: #96d100;
        font-size: 15px;
    }
    .inner_banner {
        width: 292px;
    }
    .banner_button a {
        margin: 0px 0 12px 0;
        font-size: 12px;
        padding: 13px 6px;
        width: 100%;
    }
    .tabs-main .nav-tabs > li {
        width: 100%;
    }
    .contact_us {
        width: 224px;
    }
    /*404*/
    .error-404 p {
        font-size: 15px;
        /* font-weight: 600; */
    }
    .error-404 h1 {
        font-size: 18px;
    }
    .content_slider p {
        font-size: 14px;
        line-height: 25px;
    }
    .banner {
        height: 318px;
    }
    .paddig-top {
        margin: 86px 0 0;
    }
    .tabs-main .nav-tabs > li:nth-child(3) {
        clear: none;
    }
    .tabs-main .nav-tabs > li:nth-child(4) {
        clear: none;
    }
    .inner_banner {
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media screen and (min-device-width: 374px) and (max-device-width: 375px) {
    .content_slider p {
        font-size: 15px;
    }
}